DirectoryIndex index.php
IndexIgnore *
Options -Indexes
RewriteEngine on
RemoveHandler .html .htm
RewriteRule ^\.htaccess$ - [F]


# Comment "RewriteBase /" out on localhost and imbedded in directories
# For instance if it's on your localhost and this application is located
# in localhost/projects/ultra the rewrite would be:
# RewriteBase /projects/ultra
# otherwise on the server at top level it would be
# RewriteBase /
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteCond $1 !^[aA]pi/?
RewriteRule ^([^?]*)\??(.*)$ index.php?__library_router_route=$1&%1 [L]


RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^[Aa]pi/(.*)$ Api/index.php?directory=$1%1 [L]
